@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using AutoScheduler.Models
@using AutoScheduler.Services
@using Microsoft.AspNetCore.Mvc
@inject JsonFileBacklogItemService BacklogService

<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item To The Backlog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/api/backlog/addItem" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="task" placeholder="task name">
                        <label for="task">Task</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control"  type="text" list="categories" name='category' placeholder="category">
                        <datalist id="categories">
                            @foreach(var category in BacklogService.GetCategories())
                            {
                                <option>@category</option>
                            }
                        </datalist>
                        <label for="category">Category</label> 
                    </div>
                 
                    <div class="form-floating mb-3">
                        <select class="form-select" name="priority" aria-label="Choose task priority">
                            <option value="low">Low</option>
                            <option value="mid">Mid</option>
                            <option value="high">High</option>
                        </select>
                        <label for="priority">Task Priority</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" name="length" aria-label="Choose task length">
                            <option value="short">Short</option>
                            <option value="medium">Medium</option>
                            <option value="long">Long</option>
                            <option value="very long">Very Long</option>
                        </select>
                        <label for="length">Task Length</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
}
