@page
@using Components
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center mb-4">
    <h1 class="display-4">Auto Scheduler</h1>
    <p>Let's get sh!t done</p>
</div>

@(await Html.RenderComponentAsync<StatsDashboard>(RenderMode.ServerPrerendered))
@(await Html.RenderComponentAsync<CreateScheduleForm>(RenderMode.ServerPrerendered))

